apiVersion: apps/v1
kind: Deployment
metadata:
  name: pet-id-frontend
  labels:
    app: pet-id-frontend
    app.kubernetes.io/name: pet-id-frontend
    app.kubernetes.io/part-of: pet-id
    component: pet-id-frontend-deployment
  annotations:
    app.openshift.io/connects-to: >-
      [{"apiVersion":"apps/v1","kind":"Deployment","name":"pet-id-backend"}]
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pet-id-frontend
      component: pet-id-frontend-deployment
  template:
    metadata:
      labels:
        app: pet-id-frontend  
        component: pet-id-frontend-deployment
    spec:
      containers:
      - name: pet-id-frontend
        imagePullPolicy: Always
        image: quay.io/kenmoini/pet-id-frontend:latest
        ports:
        - containerPort: 8080
          name: pet-id-frontend
          protocol: TCP
        env:
          - name: KEYCLOAK_SERVER
            value: https://rh-sso-a-rh-sso-demo.apps.core-ocp.kemo.labs/auth/
          - name: KEYCLOAK_REALM
            value: petcorp
          - name: KEYCLOAK_CLIENT_ID
            value: separate-client
          - name: PET_ID_SERVER_ENDPOINT
            value: https://pet-id-backend-a-sso-app-demo.apps.core-ocp.kemo.labs/app